h1 {
    color: red;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

/* .not {
    text-decoration: underline;
} */

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.del {
    /* cursor: pointer; */
    /* background-color: red; */
    margin-left: auto;
}

.complete.completed {
    position: relative;
}

.complete.completed::after {
    content: "";
    background-color: rgba(128, 128, 128, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}